$color-primary: #8cc8da;
$color-secondary: #e7eb90;
$color-tertiary: #086788;
$color-nav-active-underline: #789db9;
$color-afc: #d50a0a;
$color-nfc: #003b66;
$color-offset-text: #fff;
$color-background: #f4f7f8;
$color-study-period: #8dd288;
$color-border: rgba(#d3d3d3, 0.5);
