$general-border: 1px solid black;
$playoff-line: 1px solid black;

$logo-max-size-mobile: 55px;
$logo-max-size-desktop: 100px;

$superbowl-logo-max-size-mobile: 100px;
$superbowl-logo-max-size-desktop: 200px;
