$general-border: 1px solid black;
$championship-border: 3px solid rgba(black, 0.5);
$playoff-line: 1px solid black;

$logo-min-size-mobile: 30px;
$logo-min-size-desktop: 55px;

$logo-max-size-mobile: 55px;
$logo-max-size-desktop: 65px;

$superbowl-logo-max-size-mobile: 100px;
$superbowl-logo-max-size-desktop: 150px;
