$general-border: 1px solid black;
$championship-border-afc: 5px solid rgba($color-afc, 0.3);
$championship-border-nfc: 5px solid rgba($color-nfc, 0.3);
$nav-border: 0.5px solid rgba(black, 0.5);
$playoff-line: 1px solid black;

$non-playoffs-margin-top-mobile: 170px;
$non-playoffs-margin-top-desktop: 90px;

$playoffs-margin-top-mobile: 170px;
$playoffs-margin-top-desktop: 1rem;

$logo-min-size-mobile: 30px;
$logo-min-size-desktop: 55px;
$logo-min-size-widescreen: 65px;

$logo-max-size-mobile: 55px;
$logo-max-size-desktop: 65px;
$logo-max-size-widescreen: 120px;

$superbowl-logo-max-size-mobile: 110px;
$superbowl-logo-max-size-desktop: 150px;
$superbowl-logo-max-size-widescreen: 300px;
